<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="#">Pick An Idea</a>
    <!-- <a class="btn btn-primary" href="#">Sign In</a> -->
  </div>
</nav>

<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Do you know about fellow humans taking up <span style="color: coral; text-decoration: underline; text-underline-position: below;">One idea</span> and following it consistently?</h1>
      </div>
    </div>
  </div>
</header>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-screen-desktop m-auto text-primary"></i>
          </div>
          <h3>One Idea</h3>
          <p class="lead mb-0">One person identifies an idea.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-layers m-auto text-primary"></i>
          </div>
          <h3>Never Give Up </h3>
          <p class="lead mb-0">Works consistently without giving up.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-check m-auto text-primary"></i>
          </div>
          <h3>Repeat it</h3>
          <p class="lead mb-0">Doing it for decades.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Image Showcases -->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">

      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('./assets/6895187159_2f1cf391a3_w.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h3>Take up one idea - <span style="color:coral;text-decoration: underline; text-underline-position: below;">LEARN</span></h3>
        <p class="lead mb-0">Take up one idea. Make that one idea your life - think of it, dream of it, live on that idea. Let the brain, muscles, nerves, every part of your body, be full of that idea, and just leave every other idea alone. This is the way to success.</p>
          <div><span style="color: blue;"> - Swami Vivekananda</span></div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('./assets/5430683205_d58b1df36c_w.jpg');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h3>One kick 10K times - <span style="color:coral;text-decoration: underline; text-underline-position: below;">IMPLEMENT</span></h3>
        <p class="lead mb-0">I fear not the man who has practiced 10,000 kicks once, but I fear the man who has practiced one kick 10,000 times.</p>
          <div><span style="color: blue;"> - Bruce Lee</span></div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('./assets/7184081947_a6d48f3f93_w.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h3>An Idea - <span style="color:coral;text-decoration: underline; text-underline-position: below;">REPEAT</span></h3>
        <p class="lead mb-0"> A man may die;</p> 
        <p class="lead mb-0">Nations may rise and fall;</p>
        <p class="lead mb-0"> But an IDEA lives on.</p>
        <div><span style="color: blue;"> - John F Kennedy</span></div>
      </div>
    </div>
  </div>
</section>

<!-- Call to Action -->
<section class="call-to-action text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">Do you want to get inspired? </h2>
      </div>
    </div>
  </div>
</section>

<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <!--<img class="card-img-top" src="img_avatar1.png" alt="Card image">-->
          <div class="card-body">
            <h4 class="card-title">Arunachalam Muruganandham</h4>
            <p class="card-text">Known as - Padman</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image"> -->
          <div class="card-body">
            <h4 class="card-title">Jadhav Payeng</h4>
            <p class="card-text">Known as - Forest Man</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <!--<img class="card-img-top" src="img_avatar1.png" alt="Card image">-->
          <div class="card-body">
            <h4 class="card-title">Saalumarada Thimmakka</h4>
            <p class="card-text">Known as - Vriksha Mata</p>
            <a href="#" class="btn btn-primary">See Profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>

<!-- Call to Action -->
<section class="call-to-action text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">Pick an idea is a repository of <span style="color: coral; text-decoration: underline; text-underline-position: below;">One Idea.</span> Do you want to Contribute? </h2>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <p class="text-muted small mb-4 mb-lg-0">&copy; <a href="https://www.pickanidea.com">Pick An Idea</a> All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <!--<a href="https://pickanidea.wordpress.com" target="_blank">-->
            <a href="#">
              <i class="fa fa-wordpress"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fa fa-twitter-square"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>